:root {
    --green: #3eaf7c;
}

a {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
}

.sr-only {
    /* display: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    color: #2c3e50;

    /* background-position: top left;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    z-index: 1; */
}

nav {
    position: fixed;
    margin-left: 20px;
    width: 100px;
}

#container {
    width: 70%;
    margin: 30px auto;
}

#title-area,
footer {
    padding: 30px 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

#title-area h1 {
    color: #fff;
}

#title-area p {
    color: var(--green);
}

#content {
    background-color: #fff;
    width: 84%;
    padding: 15px 8%;
}

footer {
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    padding: 5px;
    text-align: center;
}

a.active {
    /* background-color: var(--green); */
    /* border-bottom: 1px solid var(--green); */
    color: #fff;
}

@media only screen and (max-width: 900px) {
    header nav {
        width: 90%;
        position: static;
        margin: auto;
        text-align: center;
    }

    #container {
        width: 90%;
    }

    .book-img,
    .book-intro {
        display: none;
    }
}

/* books.html */
.book {
    display: flex;
    margin: 20px auto;
}

.book-img {
    max-width: 135px;
    max-height: 200px;
    margin-right: 25px;
    margin-top: 30px;
}

#e-book ul {
    float: left;
}

#e-book::after {
    clear: both;
    content: "";
    display: table;
}

#e-book ul li a {
    text-align: left;
}